/* Common Styles */
body {
  margin: 0 auto;
}

/* Navigation Bar Styles */
nav {
  background: rgba(255, 144, 14, 0.1);
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  margin-left: 228px;
  margin-top: 0px;
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  margin-right: 240px;
  margin-top: 0px;
  gap: 50px;
  color: var(--Dark-02, #424242);
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand-new {
  margin-left: 116px;
}
.banner > h1 {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 64px;
  font-weight: 700;
  margin-top: 42px;
  margin-bottom: 0px;
}
.banner > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 32px;
}
button {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  border: 0px;
  padding: 21px;
  margin-top: 32px;
  margin-bottom: 50px;
}
.banner img {
  width: 1440px;
  height: 700px;
  margin-bottom: 45px;
}

/* List Of Features Styles */
.features-section {
  display: flex;
}
.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 301px;
  margin-top: 85px;
  gap: 24px;
}
.features-contect {
  margin-left: 76px;
  margin-top: 287px;
}
.features-contect > h3 {
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.ash {
  color: var(--Dark-03, #727272);
}
.orange {
  color: #ff900e;
}
.features-contect > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
}
.features-contect button {
  margin-top: 32px;
}

/* Love & Enjoy Section */
.love-enjoy {
  display: flex;
  margin-top: 130px;
  gap: 146px;
}
.vertical {
  display: flex;
  gap: 21px;
}
.vl {
  width: 5px;
  height: 106px;
  background: #ff900e;
}
.group-title {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.group-description {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.love-enjoy-content {
  margin-left: 240px;
}
.all-group-section {
  display: grid;
  row-gap: 20px;
}
.group-section {
  width: 556px;
  height: 141px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  row-gap: 20px;
}
.group-section > h6 {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.group-section > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
}

/* problem */

.ten-year {
  position: absolute;
  right: -50px;
  border: 0px;
  border-radius: 8px;
  background: #ff900e;
  width: 342px;
  height: 200px;
}
.love-enjoy-img {
  width: 708px;
  height: 982px;
  margin-right: 240px;
}

/* Some Fact Styles */
.some-fact-section > h3 {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
  margin-top: 168px;
  margin-left: 240px;
}
.some-fact-section > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 100px;
  margin-left: 240px;
}
.some-fact-category {
  display: flex;
  justify-content: space-between;
  margin-left: 290px;
  margin-right: 290px;
  margin-bottom: 180px;
}
.award,
.project,
.clients,
.email {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
  width: 241.831px;
  height: 241.831px;
}
.award > h5 {
  color: var(--Dark-02, #424242);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project > h5 {
  color: var(--Dark-02, #424242);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.clients > h5 {
  color: var(--Dark-02, #424242);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.email > h5 {
  color: var(--Dark-02, #424242);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.award > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.project > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.clients > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.email > p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* sponsor section Styles */
.sponsor-section > h4 {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}
.sponsor-section > p {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400
}
.sponsor-logos{
  display: flex;
  justify-content: space-between;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 50px;
  margin-bottom: 130px;
}


/* Media Quires For Website */

/* -----Mobile View---- */
@media screen and (max-width: 576px) {
  nav {
    margin: 0 auto;
  }
  .nav-bar {
    flex-direction: column;
  }
  .nav-logo {
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
  }
  .nav-logo > h2 {
    margin: 0px;
  }
  .nav-menu {
    flex-direction: column;
    margin: 0px;
  }
  .banner {
    margin: 0px;
  }
  .banner img {
    width: 400px;
    height: 300px;
  }
}
